[Unit]
Description=Control battery charging on boot

[Service]
ExecStart=/usr/local/bin/battery.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
